name: ci

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nix:
    permissions:
      id-token: "write"
      contents: "read"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - command: build --print-build-logs --no-update-lock-file .#leo
          - command: develop --no-update-lock-file .#leo-dev
          - command: develop --no-update-lock-file .#snarkos-dev
          - command: flake check --all-systems --no-update-lock-file
          - command: fmt -- --ci
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix ${{ matrix.command }}
